.error {
  font-family: Montserrat-Light, Arial, sans;
  width: 100%;
  line-height: 2em;
  text-align: center;
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  position: fixed;
  background-color: rgb(255, 117, 117);
  left: 0;
  top: 0%;
}