@import "../../styles/variables";

.text {
  position: relative;
  height: 100vh;
  background-size: cover;

  & .container {
    max-height: 100vh;
  }

  &__edit-field {
    display: block;
    width: auto;
    margin-bottom: 20px;

    &--extra {
      position: absolute;
      z-index: 5;
      left: 5%;
      width: 80%;

      &:first-of-type {
        top: 5%;
      }
    }
  }

  &__label {
    text-align: left;
    display: inline-block;
    background-color: $color-primary;
    margin-right: 20px;
    padding: 0 5px;
    border-radius: 2px;
    width: 100%;
    font-size: $font-size-editor;
  }

  &__input {
    text-align: left;
    font-family: $font-family-light;
    padding: 5px;
    width: 100%;
    border: none;
    border-radius: 2px;
    font-size: $font-size-editor;
  }

  &__textarea {
    width: 101%;
    border-radius: 2px;
    resize: none;
    font-size: $font-size-editor;
    padding: 2%;
    box-sizing: border-box;  
  }

  &__content {
    font-family: $font-family-light;
    box-sizing: border-box;
    margin: 0 auto 0 29%;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: $font-size-large;
    color: $color-secondary;
    margin: 0 0 45px 0;
  }

  &__subtitle {
    font-family: $font-family-bold;
    font-size: $font-size-med;
    margin: 0 0 60px 0;
  }

  &__description {
    margin: 0;
  }
}

@media(max-width: $mobile-width) {
  .text {
  
    &__edit-field {
      display: block;
      width: auto;
      margin-bottom: 20px;
  
      &:first-of-type {
        margin-top: 40%;
      }

      &--extra {
        position: absolute;
        z-index: 5;
  
        &:first-of-type {
          top: 0;
          margin-top: 0;
        }
      }
    }

    &__label {
      display: block;
      width: 90%;
      font-size: $font-size-reg-mob;
    }
  
    &__input {
      width: 90%;
      border: none;
      font-size: $font-size-reg-mob;
    }

    &__textarea {
      width: 90%;
      font-size: $font-size-reg-mob;
      min-height: 200px;
    }

    &__content {
      padding: 40px 0 20px 0;
      width: 60%;
    }

    &__title {
      font-size: $font-size-large-mob;
      margin-bottom: 25px;
    }

    &__subtitle {
      font-size: $font-size-med-mob;
      margin-bottom: 25px;
    }

    &__description {
      font-size: $font-size-reg-mob;
    }
  }
}