.text {
  & .container {
    height: 100vh;
  }

  &__content {
    font-family: Montserrat-Light, Arial, sans;
    width: 53%;
    box-sizing: border-box;
    margin: 0 auto 0 29%;
    padding: 150px 0 150px 0;
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: 72px;
    color: #f8d35d;
    margin: 0 0 45px 0;
  }

  &__subtitle {
    font-family: Montserrat-Bold, Arial, sans;
    font-size: 40px;
    margin: 0 0 60px 0;
  }

  &__description {
    margin: 0;
  }
}

@media(max-width: 700px) {
  .text {

    &__content {
      padding: 40px 0 20px 0;
      width: 60%;
    }

    &__title {
      font-size: 24px;
      margin-bottom: 25px;
    }

    &__subtitle {
      font-size: 20px;
      margin-bottom: 25px;
    }

    &__description {
      font-size: 18px;
    }
  }
}