.editor-panel {
  font-size: 0.8em;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 20;
  background-color: rgba(255, 255, 255, 0.97);

  &__buttons {
    display: flex;
    justify-content: space-between;
  }

  &__button {
    font-size: 0.8em;
    padding-top: 10px;
    padding-bottom: 10px;
    white-space: nowrap;
    flex-basis: 33%;
    flex-grow: 1;
    background-color: $color-secondary;
    box-sizing: border-box;
    transition: background-color 0.3s;
    &--save-close {
      font-size: 0.7em;
      background-color: $color-black;
      color: $color-white;

      &:hover {
        border-left: 1px solid $color-black;
      }

    }
    &:first-of-type {
      border-right: 1px solid $color-black;
    }
    &:hover {
      background-color: darken($color-secondary, 12%);
      color: $color-black;
    }
  }

  &__controls {
    padding: 0 15px 5%;
  }

  &__item {
    width: 400px;
    margin-bottom: 10px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__label {
    display: block;
    margin-bottom: 5px;
  }

  &__input {
    width: 100%;
    font-size: 0.8em;
  }
  
}