@import './variables';
@font-face {
  font-family: 'Montserrat-Light';
  src: local('Montserrat-Light'), url('../fonts/Montserrat/Montserrat-Light/Montserrat-Light.woff') format('woff'),
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: local('Montserrat-Bold'), url('../fonts/Montserrat/Montserrat-Bold/Montserrat-Bold.woff') format('woff'),
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: local('Montserrat-Regular'), url('../fonts/Montserrat/Montserrat-Regular/Montserrat-Regular.woff') format('woff'),
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: local('Montserrat-Medium'), url('../fonts/Montserrat/Montserrat-Medium/Montserrat-Medium.woff') format('woff'),
}

body {
  font-size: $font-size-reg;
  font-family: $font-family-light;
}

h1 {
  line-height: 1.15;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.container {
  padding: 0 50px;
  max-width: 1290px;
  margin: 0 auto;
}

.button-burger {
  font-size: 0;
  background-image: url('../images/burger.png');
  width: 27px;
  height: 20px;
  margin-top: 70px;
}

@media(max-width: $mobile-width) {
  .container {
    padding: 0 20px;
  }
}