$font-family-light: Montserrat-Light, Arial, sans;
$font-family-bold: Montserrat-Bold, Arial, sans;

$font-size-large: 72px;
$font-size-med: 40px;
$font-size-reg: 32px;

$color-primary: #fff;
$color-secondary: #f8d35d;
$color-secondary-07: rgba(255, 202, 76, 0.7);