$font-family-light: Montserrat-Light, Arial, sans;
$font-family-bold: Montserrat-Bold, Arial, sans;

$font-size-large: 72px;
$font-size-med: 40px;
$font-size-reg: 32px;

$font-size-large-mob: 24px;
$font-size-med-mob: 20px;
$font-size-reg-mob: 18px;

$font-size-editor: 20px;

$color-primary: #fff;
$color-secondary: #f8d35d;
$color-secondary-07: rgba(255, 202, 76, 0.7);

$color-black: #000;
$color-white: #fff;
$color-gray: #555;

$mobile-width: 700px;